h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#000;
}
#header{
  background-color:#fff;
  height:60px;
}
#main{
  background-color: #fff;
  border: none;
border-radius: 5px;
  padding: 20px 30px;
  transition: all 0.3s;
}
#aside{
  background-color: #fff;
  border: none;
  border-radius: 5px;
  position:sticky;
}
nav ul li a{
  text-decoration: none;
  color:#000;
  font-size:15px;
}
nav ul li a:hover{
  border: 2px solid #cadff9;
  border-radius: 10px;
}
nav ul{
  list-style: none;
}


.nav .nav-search button{
    color: blueviolet;
    border: 1px solid blueviolet;
    height: 39px;
}


.nav ul li{
    padding-left: 15px;
    padding-top: 15px;
}



h1 a{
  color: blueviolet;
  text-decoration: none;
}

.suggested-search{
  position: absolute;
  top: 40px;
  z-index: 10;
  display: list-item !important;
  border: 1px solid #ddd;
  background-color: #fff;
  width: 300px;
}

.suggested-search li a{
  cursor: pointer;
  color: blueviolet;
}


