<header class="header_section no-padding">
  <div class="header_top">
    <div class="container-fluid">
      <div class="top_nav_container">
        <div class="contact_nav d-none d-md-flex">
          <a href="">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <span>
              Call : +01 123455678990
            </span>
          </a>
          <a href="">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <span>
              Email : demo@gmail.com
            </span>
          </a>
        </div>
        <form class="search_form">
          <input type="text" class="form-control" placeholder="Search here...">
          <button class="" type="submit">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </form>
        <div class="user_option_box">
          <ng-container *ngIf="islogin == true else other">
            <a routerLink="user-dashboard/my/profile/{{userId}}" class="account-link">
              <i class="fa fa-user" style="font-size: 1.5rem;" aria-hidden="true"></i>
              <span class="d-none d-md-inline">
                My Account
              </span>
            </a>
          </ng-container>
          <ng-template #other>
            <a routerLink="login" class="account-link">
              <i class="fa fa-user" style="font-size: 1.5rem;" aria-hidden="true"></i>
              <span class="d-none d-md-inline">
                Login
              </span>
            </a>
          </ng-template>
          <p-toast></p-toast>
          <a (click)="openCart()" class="cart-link">
            <i class="fa fa-shopping-cart" pBadge severity="danger" style="font-size:1.5rem;" value="{{totalItems}}" aria-hidden="true"></i>
            <span class="d-none d-md-inline">
              Cart
            </span>
          </a>
        </div>
      </div>

    </div>
  </div>
  <div class="header_bottom">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand d-none d-md-flex" href="#">
          <span>
            Multi Vendor
          </span>
        </a>
        <div class="d-block" id="navbarSupportedContent">
          <ul class="navbar-nav d-flex flex-row">
            <li class="nav-item active">
              <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="shop"> Shop</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="auction">Auctions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="why.html">Why Us</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
