<div class="container-fluid no-padding">
  <div class="row">
    <h3>My wardrobe</h3>
  </div>
  <div class="row">
    <button class="btn-new">Add</button>
  </div>
  <div class="row">
    <div *ngFor="let num of numbers" class="col-sm-4">
      <div class="card mt-3 p-3 g-2">
        <div class="d-flex align-items-center">
          <small class="first">Today at 1:30 pm</small>
        </div>
        <div class="mt-3">
          <h2 class="text">Machine Learning <br />Notes</h2>
        </div>
        <div class="detail mt-5">
          <small
            >Machine Learning is a method of data data analysis that automates
            analytical model building</small
          >
        </div>
        <div class="mt-3 d-flex justify-content-end px-2">
          <button class="btn-submit">View</button>
          <button class="btn-submit mx-5">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
