<div class="container-fluid no-padding">
  <div class="row">
    <h1>My wardrobe</h1>
  </div>
    <button class="btn" (click)="showDialog()">Add New Wardrobe</button>
  <div class="row">
    <div *ngFor="let wardrobe of wardrobes" class="col-sm-4 mt-3">
      <div class="cards">
        <div class="cards__item">
          <div class="card">
            <div class="card__content">
              <div class="card__title">{{wardrobe.title}}</div>
              <p class="card__text">{{wardrobe.description}}</p>
              <button class="btn btn-info card__btn" routerLink="/user-dashboard/wardrobe-detail/{{wardrobe.id}}">View</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p-dialog [(visible)]="displayDialog"  header="Add New Wardrobe" [modal]="true" styleClass="dialog-style">
    <ng-template pTemplate="body">
      <app-add-wardrobe (formSubmited)="hideDialog()"></app-add-wardrobe>
    </ng-template>
</p-dialog>
</div>
