.card{
  background-color:#fff;
  border-radius:15px;
  height:200px;
}
.first {
  color:#a4adb8;
}
.text{
  color:#000;
  font-weight:700;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}
.detail{
  color:#a4adb8;
  font-weight:700;
  font-size:2rem;
  font-family: 'Times New Roman', Times, serif;
}
.readmore{
  font-weight:400;
  color:#fff;
}

h1{
  font-family: 'Times New Roman', Times, serif;
  color: #000;
  font-weight: bold;
}
.btn {
  font-size: 15px;
  position: relative;
  transition: all 0.15s ease;
  letter-spacing: 0.025em;
  text-transform: none;
  will-change: transform;
}
.btn:hover {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}



.dialog-style{
  width:500px;
}
