<div class="container-fluid">
  <div *ngFor="let product of products"class="row">
    <div class="product-list-item mb-30">
      <div class="product-thumb">
          <a href="product-details.html">
              <img src="{{product.img1}}" class="img-pri" alt="product_image">
              <img src="{{product.img2}}" class="img-sec" alt="product_image">
          </a>
          <div class="product-label">
              <span>hot</span>
          </div>
      </div>
      <div class="product-list-content">
          <h3><a href="product-details.html">{{product.name}}</a></h3>
          <div class="ratings">
              <span class="good"><i class="fa fa-star"></i></span>
              <span class="good"><i class="fa fa-star"></i></span>
              <span class="good"><i class="fa fa-star"></i></span>
              <span class="good"><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <div class="pro-review">
                  <span>1 review(s)</span>
              </div>
          </div>
          <div class="pricebox">
              <span class="regular-price">${{product.price}}</span>
              <span class="old-price"><del>$90.00</del></span>
          </div>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
          <p>Phasellus id nisi quis justo tempus mollis sed et dui. In hac habitasse platea dictumst. Suspendisse ultrices mauris diam. Nullam sed aliquet elit. Mauris consequat nisi ut mauris efficitur lacinia.</p>
          <div class="product-list-action-link">
              <a class="buy-btn" href="#" data-toggle="tooltip" data-placement="top" title="Add to cart">go to buy <i class="fa fa-shopping-cart"></i> </a>
              <a href="#" data-toggle="modal" data-target="#quick_view"> <span data-toggle="tooltip" data-placement="top" title="Quick view"><i class="fa fa-search"></i></span> </a>
              <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist"><i class="fa fa-heart-o"></i></a>
              <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="fa fa-refresh"></i></a>
          </div>
      </div>
    </div>
  </div>
</div>

