

.product-image .img-pri {
  margin-left: 10px;
  width: 100%;
  height: 400px;
  border-radius: 10px;
}

.product-image .img-sec {
  margin-left: 10px;
  position: relative;
  height: 400px;
  width: 100%;
  opacity: 0;
  display: none;
  border-radius: 10px;
}
.product-image:hover .img-pri {
  opacity: 0;
  display: none;
}
.product-image:hover .img-sec {
  opacity: 1;
  display: flex;
}

span {
  font-weight: bold;
}
.price {
  font-size: 30px;
  font-weight: bolder;
}


/* detail card */
img {
  max-width: 100%;
}



.preview-thumbnail.nav-tabs li img {
  max-width: 100%;
  display: block;
}
.tab-content {
  overflow: hidden;
}
.tab-content img {
  width: 100%;
  -webkit-animation-name: opacity;
  animation-name: opacity;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.card {
  margin-top: 50px;
  background: #eee;
  padding: 3em;
  line-height: 1.5em;
}


.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}


.product-title,
.price {
  text-transform: UPPERCASE;
  font-weight: bold;
}

.checked,
.price span {
  color: #ff9f1a;
}

.product-title,
.rating,
.product-description,
.price,
.vote{
  margin-bottom: 15px;
}

.product-title {
  margin-top: 0;
}


.add-to-cart,
.like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
.add-to-cart:hover,
.like:hover {
  background: #b36800;
  color: #fff;
}

.more-products{
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
}
/* shopdetail use */
a{
  text-decoration: none;
}



.product-item{
  margin: 10px;
  background-color: #F4F4F4;
  border:2px solid #F4F4F4;
  border-radius: 10px;
}
.product-item .product-thumb {
  position: relative;
  height:200px;
}

.product-item .product-thumb .img-pri {
  width: 100%;
  height:200px;
  border-radius: 10px;
}

.product-item .product-thumb .img-sec {
  top: 0;
  left: 0;
  height: 200px;
  width: 100%;
  position: absolute;
  opacity: 0;
  visibility: hidden;
border-radius: 10px;
}

.product-item .product-thumb .product-label {
  top: 0;
  left: 0;
  position: absolute;
}

.product-item .product-thumb .product-label span {
  width: 50px;
  height: 50px;
  font-size: 14px;
  color: #ffffff;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  display: block;
  background-color: #f9af51;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-transform: uppercase;
}

.product-item .product-thumb .product-action-link {
  top: 0;
  right: 0;
  opacity: 0;
  margin-top:30px;
  visibility: hidden;
  position: absolute;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.product-item .product-thumb .product-action-link a {
  color: #ffffff;
  font-size: 14px;
  width: 36px;
  height: 36px;
  display: block;
  margin-bottom: 5px;
  text-align: center;
  line-height: 36px;
  background-color: #444444;
  position: relative;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.product-item .product-thumb .product-action-link a span {
  display: block;
}

.product-item .product-thumb .product-action-link a:hover {
  background-color: #d8373e;
}

.product-item .product-content {
  padding-top: 15px;
}

.product-item .product-content marquee {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 12px;
  margin-bottom: 10px;
}


.product-item .product-content .pricebox .regular-price {
  color: #d8373e;
  font-size: 16px;
  font-weight: 700;
}
.product-item .product-thumb:hover .img-pri {
  opacity: 0;
  visibility: hidden;
}
.product-item .product-thumb:hover .img-sec {
  opacity: 1;
  visibility: visible;
}

.product-item .product-thumb:hover .product-action-link {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);

}
label{
  width:60px !important;
}
.good{
  color: #FF9933;
}

