<div class="container-fluid">
  <section class="row detail-section">
    <div class="col-md-4 bg-setting">
      <figure class="product-image">
        <img class="img-pri" src="data:image/jpeg; base64, {{product.image1}}" alt="image1">
        <img class="img-sec" src="data:image/jpeg; base64, {{product.image2}}" alt="image2">
      </figure>
    </div>
    <div class="col-md-6 bg-color">
      <h1 class="product-label">{{product.productName.toUpperCase()}}</h1>
      <p class="additional-details">Category : {{product.category.name}} <br> Wardrobe Code: {{product.wardrobe.title}}</p>
      <p class="price">{{product.basePrice | currency:'USD'}}</p>
      <div class="ratings">
        <span class="good"><i class="fa fa-star"></i></span>
        <span class="good"><i class="fa fa-star"></i></span>
        <span class="good"><i class="fa fa-star"></i></span>
        <span class="good"><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
      </div>
      <div class="content">
        <p> {{product.description}}</p>
      </div>
      <div class="buttons-list">
        <button>Add to Cart</button>
        <button>WishList</button>
      </div>
    </div>
  </section>
  <div class="row">
    <h1>More Products from same wardrobes</h1>
  </div>
  <div class="row">
    <div *ngFor="let product of products" class="col-sm-3 col-md-2">
      <div class="product-item">
        <div class="product-thumb">
          <a href="">
            <img
              src="data:image/jpeg;base64, {{ product.image1 }}"
              class="img-pri"
              alt="primary_pro_image"
            />
            <img
              src="data:image/jpeg;base64, {{ product.image2 }}"
              class="img-sec"
              alt="secondary_pro_image"
            />
          </a>
          <!-- <div class="product-label">
            <span>hot</span>
          </div> -->
          <div class="product-action-link">
            <a routerLink="/product-detail/{{product.productId}}" data-toggle="modal" data-target="#quick_view">
              <span
                data-toggle="tooltip"
                data-placement="left"
                title="Detail View"
                ><i class="fas fa-search"></i
              ></span>
            </a>
            <a
              href="#"
              data-toggle="tooltip"
              data-placement="left"
              title="Wishlist"
              ><i class="fas fa-heart"></i
            ></a>
            <a
              href="#"
              data-toggle="tooltip"
              data-placement="left"
              title="Add to cart"
              ><i class="fas fa-shopping-cart"></i
            ></a>
          </div>
        </div>
        <div class="product-content">
          <h4>
            <a href="">{{ product.productName }}</a>
          </h4>
          <div class="pricebox">
            <span class="regular-price">{{
              product.basePrice | currency : "USD"
            }}</span>
            <div class="ratings">
              <span class="good"><i class="fa fa-star"></i></span>
              <span class="good"><i class="fa fa-star"></i></span>
              <span class="good"><i class="fa fa-star"></i></span>
              <span class="good"><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
