<aside id="sidebar" class="sidebar" *ngIf="this.toggle.toggleState$ | async">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link" routerLink="/user-dashboard/my/profile/{{userId}}">
        <i class="bi bi-grid"></i>
        <span>Profile</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/user-dashboard/wardrobe">
        <i class="bi bi-grid"></i>
        <span>Wardrobe</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/user-dashboard/favourite">
        <i class="bi bi-grid"></i>
        <span>Favourite</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/user-dashboard/my/profile/{{userId}}">
        <i class="bi bi-grid"></i>
        <span>Profile</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/user-dashboard/my/profile/{{userId}}">
        <i class="bi bi-grid"></i>
        <span>Profile</span>
      </a>
    </li>
  </ul>

</aside>
