<div class="container-fluid rounded">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div
          class="card-body profile-card pt-4 d-flex flex-column align-items-center"
        >
          <img
            width="100"
            src="data:image/jpeg;base64, {{ profile.profilePicture }}"
            alt="Profile"
            class="rounded-circle"
          />
          <h2>{{profile.userName}}</h2>
        </div>
        <div class="row" *ngIf="ownUser == false">
          <div class="text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
            <button class="btn-view btn-view-info" (click)="followUser(profile.userId)">
              {{ isfollowed ? "Followed" : "Follow" }}
            </button>
          </div>
        </div>
        <div class="row text-center m-t-20">
          <div class="col-lg-6 col-md-6 m-t-20">
            <h3 class="m-b-0 font-light">{{ numFollowers }}</h3>
            <small>Follower</small>
          </div>
          <div class="col-lg-6 col-md-6 m-t-20">
            <h3 class="m-b-0 font-light">{{ numFollowing }}</h3>
            <small>Following</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 offset-md-1">
      <p-tabView>
        <p-tabPanel header="Followers">
          <p-table
          #dt1
          [value]="followers"
          dataKey="id"
          [rows]="5"
          [showCurrentPageReport]="true"
          [rowsPerPageOptions]="[5,10]"
          [paginator]="true"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Followers"
          [globalFilterFields]="['userName']"
      >
          <ng-template pTemplate="caption">
              <div class="flex">
                  <button  class="btn-view" (click)="clear(dt1)">Clear</button>
                  <span class="p-input-icon-left ml-auto">
                      <i class="pi pi-search"></i>
                      <input pInputText type="text" (input)="dt1.filterGlobal($event.target['value'], 'contains')" placeholder="Search keyword" />
                  </span>
              </div>
          </ng-template>
          <ng-template pTemplate="header">
              <tr>
                  <th >
                      <div class="flex align-items-center">
                          Image
                      </div>
                  </th>
                  <th >
                      <div class="flex align-items-center">
                          User Name
                          <p-columnFilter type="text" field="userName" display="menu"></p-columnFilter>
                      </div>
                  </th>
                  <th >
                      <div class="flex align-items-center">
                          Action
                      </div>
                  </th>

              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-follower>
              <tr>
                  <td>
                      <img src="data:image/jpeg;base64, {{ follower.profilePicture }}" alt="profile picture" width="50"/>
                  </td>
                  <td>
                      {{ follower.userName}}
                  </td>
                  <td>
                      <button class="btn-view" routerLink="/user-dashboard/profile/{{follower.userId}}"> View</button>
                  </td>

              </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
              <tr>
                  <td colspan="7">No Follower found.</td>
              </tr>
          </ng-template>
      </p-table>
        </p-tabPanel>
        <p-tabPanel header="Followings">

            <p-table
            #dt1
            [value]="followings"
            dataKey="id"
            [rows]="5"
            [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[5,10]"
            [paginator]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Followings"
            [globalFilterFields]="['userName']"
        >
            <ng-template pTemplate="caption">
                <div class="flex">
                    <button class="btn-view" (click)="clear(dt1)">Clear</button>
                    <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt1.filterGlobal($event.target['value'], 'contains')" placeholder="Search keyword" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th >
                        <div class="flex align-items-center">
                            Image
                        </div>
                    </th>
                    <th >
                        <div class="flex align-items-center">
                            User Name
                            <p-columnFilter type="text" field="userName" display="menu"></p-columnFilter>
                        </div>
                    </th>
                    <th >
                        <div class="flex align-items-center">
                            Action
                        </div>
                    </th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-following>
                <tr>
                    <td>
                        <img src="data:image/jpeg;base64, {{ following.profilePicture }}" alt="profile picture" width="50"/>
                    </td>
                    <td>
                        {{ following.userName}}
                    </td>
                    <td>
                        <button class="btn-view" routerLink="/user-dashboard/profile/{{following.userId}}"> View</button>
                    </td>

                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="7">No customers found.</td>
                </tr>
            </ng-template>
        </p-table>
        </p-tabPanel>
      </p-tabView>

    </div>
  </div>
  <div class="row">
    <div class="col-md-8 bg-setting">
      <h1>Wardrobe details scrollable</h1>

      <ng-container *ngIf="wardrobes != undefined; else error3">
        <p-table
          #dt
          [value]="wardrobes"
          [rows]="5"
          [paginator]="true"
          [globalFilterFields]="['title']"
          [rowHover]="true"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [showCurrentPageReport]="true"
        >
          <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
              <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input
                  pInputText
                  type="text"
                  (input)="dt.filterGlobal($event.target['value'], 'contains')"
                  placeholder="Search..."
                />
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="title">
                Title <p-sortIcon field="name"></p-sortIcon>
              </th>
              <th>Decription</th>
              <th>View</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-wardrobe>
            <tr>
              <td>{{ wardrobe.title }}</td>
              <td>{{ wardrobe.description }}</td>
              <td>
                <button class="btn-view"
                  routerLink="/user-dashboard/wardrobe-detail/{{ wardrobe.id }}"
                >
                  View
                </button>
              </td>
              <!-- <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(product)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(product)"></button>
                </td> -->
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
              In total there are
              {{ wardrobes ? wardrobes.length : 0 }} products.
            </div>
          </ng-template>
        </p-table>
      </ng-container>
      <ng-template #error3>
        <p class="h3">No Wardrobe yet</p>
      </ng-template>
    </div>
    <div class="col-md-2">here will be some minor info orders,etc</div>
  </div>
</div>
