<div class="container-fluid rounded bg mt-5">
  <div class="row">
    <div class="col-md-4 card-section">
      <div class="card card-profile">
        <img
          src="https://demos.creative-tim.com/argon-dashboard/assets-old/img/theme/img-1-1000x600.jpg"
          alt="Image placeholder"
          class="card-img-top"
        />
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="#">
                <img
                  src="https://demos.creative-tim.com/argon-dashboard/assets-old/img/theme/team-4.jpg"
                  class="rounded-circle"
                />
              </a>
            </div>
          </div>
        </div>
        <ng-container *ngIf="ownUser == false  ">
          <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
            <div class="d-flex justify-content-between">
              <a href="#" class="btn btn-sm mr-4 btn-default">Connect</a>
              <a href="#" class="btn btn-sm float-right btn-warning">Message</a>
            </div>
          </div>
        </ng-container>

        <div class="card-body pt-h">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading">22</span>
                  <span class="description">Followers</span>
                </div>
                <div>
                  <span class="heading">{{followings.length}}</span>
                  <span class="description">Following</span>
                </div>
                <div>
                  <span class="heading">89</span>
                  <span class="description">Comments</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <h5 class="h3">
              Jessica Jones<span class="font-weight-light">, 27</span>
            </h5>
            <h5 class="font-weight-light">Bucharest, Romania</h5>
            <h5 class="h5 mt-4">Solution Manager - Creative Tim Officer</h5>
            <h5>University of Computer Science</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-sm-6">
          <h1>Following</h1>
          <p-table [value]="followings" scrollDirection="vertical" [scrollable]="true" scrollHeight="400px">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:30px;">Image</th>
                    <th style="width:150px;">Name</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-following>
                <tr>
                  <td><img src='data:image/jpeg;base64, {{this.following.profilePicture}}' width="60" alt="profile image"></td>
                  <td>{{following.userName}}</td>
                  <td> <a href="#" class="btn btn-sm mr-4 btn-default">View</a></td>
                </tr>
            </ng-template>
        </p-table>
        </div>
        <div class="col-sm-6">
          <h1>Follower</h1>
          <p-table [value]="users" scrollDirection="vertical" [scrollable]="true" scrollHeight="400px">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:30px;">Image</th>
                    <th style="width:150px;">Name</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
                <tr>
                  <td><img src="{{user.image}}" width="60" alt="profile image"></td>
                  <td>{{user.name}}</td>
                  <td> <a href="#" class="btn btn-sm mr-4 btn-default">View</a></td>
                </tr>
            </ng-template>
        </p-table>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h1>Wardrobe details scrollable</h1>
      <p-table [value]="users" scrollDirection="vertical" [scrollable]="true" scrollHeight="400px">
        <ng-template pTemplate="header">
            <tr>
                <th style="width:150px;">Name</th>
                <th style="width:350px;">Description</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
              <td>Name</td>
              <td>{{user.name}}</td>
              <td> <a href="#" class="btn btn-sm mr-4 btn-default">View</a></td>
            </tr>
        </ng-template>
    </p-table>
    </div>
    <div class="col-md-2">
      here will be some minor info orders,etc
    </div>
  </div>
</div>
