<div class="container-fluid rounded mt-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div
          class="card-body profile-card pt-4 d-flex flex-column align-items-center"
        >
          <img
            width="100"
            src="data:image/jpeg;base64, {{ profile.profilePicture }}"
            alt="Profile"
            class="rounded-circle"
          />
          <h2>Kevin Anderson</h2>
        </div>
        <div class="row" *ngIf="ownUser == true">
          <div class="text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
            <button class="btn btn-info" (click)="followUser(profile.userId)">
              {{ isfollowed ? "Followed" : "Follow" }}
            </button>
          </div>
        </div>
        <div class="row text-center m-t-20">
          <div class="col-lg-6 col-md-6 m-t-20">
            <h3 class="m-b-0 font-light">{{ numFollowers }}</h3>
            <small>Follower</small>
          </div>
          <div class="col-lg-6 col-md-6 m-t-20">
            <h3 class="m-b-0 font-light">{{ numFollowing }}</h3>
            <small>Following</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <p-tabView>
        <p-tabPanel header="Followings">
          <ng-container *ngIf="followings == undefined else error1">
            <p-virtualScroller
              [value]="followings"
              class="border-1 surface-border border-round"
              scrollHeight="180px"
            >
              <ng-template #show pTemplate="item" let-following>
                <div class="d-flex justify-content-between p-2">
                  <img
                    src="data:image/jpeg;base64, {{ following.profilePicture }}"
                    width="50"
                    alt="profile image"
                  />
                  <p class="name">{{ following.userName }}</p>

                  <a
                    routerLink="/user-dashboard/profile/{{ following.userId }}"
                    class="btn-view"
                    >View</a
                  >
                </div>
              </ng-template>
            </p-virtualScroller>
          </ng-container>
          <ng-template #error1>
            <p class="h3">No follower yet</p>
          </ng-template>
        </p-tabPanel>
        <p-tabPanel header="Followers">
          <ng-container *ngIf="followers == undefined else error2">
            <p-virtualScroller
              [value]="followers"
              class="border-1 surface-border border-round"
              scrollHeight="180px"
            >
              <ng-template #show pTemplate="item" let-follower>
                <div
                  class="d-flex flex-row justify-content-between border-bottom"
                >
                  <img
                    src="data:image/jpeg;base64, {{ follower.profilePicture }}"
                    width="50"
                    alt="profile image"
                  />
                  <p class="name">{{ follower.userName }}</p>

                  <a
                    routerLink="/user-dashboard/profile/{{ follower.userId }}"
                    class="btn-view pb-4"
                    >View</a
                  >
                </div>
              </ng-template>
            </p-virtualScroller>
          </ng-container>
          <ng-template #error2>
            <p class="text-center">No followings yet</p>
          </ng-template>

        </p-tabPanel>
      </p-tabView>

    </div>
  </div>
  <div class="row">
    <div class="col-md-8 bg-setting">
      <h1>Wardrobe details scrollable</h1>

      <ng-container *ngIf="wardrobes != undefined; else error3">
        <p-table
          #dt
          [value]="wardrobes"
          [rows]="5"
          [paginator]="true"
          [globalFilterFields]="['title']"
          [rowHover]="true"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [showCurrentPageReport]="true"
        >
          <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
              <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input
                  pInputText
                  type="text"
                  (input)="dt.filterGlobal($event.target['value'], 'contains')"
                  placeholder="Search..."
                />
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="title">
                Title <p-sortIcon field="name"></p-sortIcon>
              </th>
              <th>Decription</th>
              <th>View</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-wardrobe>
            <tr>
              <td>{{ wardrobe.title }}</td>
              <td>{{ wardrobe.description }}</td>
              <td>
                <button
                  routerLink="/user-dashboard/wardrobe-detail/{{ wardrobe.id }}"
                >
                  View
                </button>
              </td>
              <!-- <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(product)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(product)"></button>
                </td> -->
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
              In total there are
              {{ wardrobes ? wardrobes.length : 0 }} products.
            </div>
          </ng-template>
        </p-table>
      </ng-container>
      <ng-template #error3>
        <p class="h3">No Wardrobe yet</p>
      </ng-template>
    </div>
    <div class="col-md-2">here will be some minor info orders,etc</div>
  </div>
</div>
