<div class="row mt-3">
  <h2>Most Trending items</h2>
  <div class="col-sm-4 col-md-3">
    <a href="#">
      <div class="card">
        <div class="imgBx">
            <img src="http://pngimg.com/uploads/running_shoes/running_shoes_PNG5782.png" alt="nike-air-shoe">
        </div>
        <div class="contentBx">
            <h2>Nike Shoes</h2>
            <p>Price :1400</p>
        </div>
    </div>
    </a>
  </div>
  <div class="col-sm-4 col-md-3">
    <a href="#">
      <div class="card">
        <div class="imgBx">
            <img src="http://pngimg.com/uploads/running_shoes/running_shoes_PNG5782.png" alt="nike-air-shoe">
        </div>
        <div class="contentBx">
            <h2>Nike Shoes</h2>
            <p>Price :1400</p>
        </div>
    </div>
    </a>
  </div>
  <div class="col-sm-4 col-md-3">
    <a href="#">
      <div class="card">
        <div class="imgBx">
            <img src="http://pngimg.com/uploads/running_shoes/running_shoes_PNG5782.png" alt="nike-air-shoe">
        </div>
        <div class="contentBx">
            <h2>Nike Shoes</h2>
            <p>Price :1400</p>
        </div>
    </div>
    </a>
  </div>
</div>
