    <form formGroup="wardrobeForm" (ngSubmit)="OnSubmit()">
        <h2 class="text-center">Wardrobe Info</h2>
        <div class="p-inputgroup mt-4">
          <span class="p-inputgroup-addon">
            <i class="pi pi-shopping-cart"></i>
          </span>
          <input pInputText formControlName="title" placeholder="Wardrobe Name" required/>
        </div>
        <div class="p-inputgroup mt-4">
          <span class="p-inputgroup-addon">
            <i class="pi pi-book"></i>
          </span>
          <textarea type="text" formControlName="description" col="3" rows="5" maxlength="100" pInputText placeholder="Description 100 words only" required></textarea>
        </div>
        <div class="p-inputgroup mt-4">
          <button class="btn btn-info" type="submit">Submit</button>
        </div>
      </form>
