<header class="bg-color">
  <div class="container-fluid">
    <nav class="row">
      <div class="col-md-1">
        <h1>Logo</h1>
      </div>
      <div class="col-md-3">
        <form class="d-flex flex-row search-form">
          <input class="search" type="text" placeholder="search here" required>
        <button class="search-btn" type="submit"><i class="fa-brands fa-searchengin"></i></button>
        </form>
      </div>
      <div class="col-md-2">
        <button class="btn-right"><i class="fa-solid fa-phone"></i> Live Chat</button>
      </div>
      <div class="col-md-2">
        <button class="btn-right"><i class="fa-solid fa-heart"></i>Wish List</button>
      </div>
      <div class="col-md-2">
        <button class="btn-right"><i matBadge="15" matBadgeColor="warn" class="fa-solid fa-cart-shopping"></i> Cart</button>
      </div>
      <div class="col-md-2">
        <button class="btn-right">Login/Signup</button>
      </div>
  </nav>
  </div>

</header>
