<aside>
  <mat-card>
    <mat-action-list>
      <h3>Dash board</h3>
      <button routerLink="" mat-list-item>
        <i class="fas fa-user"><strong>Profile</strong></i>
      </button>
      <button mat-list-item routerLink="wardrobe">
        <i class="fas fa-wardrobe"><strong>Wardrobe</strong></i>
      </button>
      <button mat-list-item routerLink="favourite">
        <i class="fas fa-heart"><strong>Favorite</strong></i>
      </button>
      <button mat-list-item routerLink="/admin/add-category">
        Add Category
      </button>
      <button mat-list-item routerLink="/admin/quizzes">Quizzes</button>
      <button mat-list-item routerLink="/admin/add-quiz">Add Quiz</button>
      <button mat-list-item>Log out</button>
    </mat-action-list>
  </mat-card>
</aside>
