
h3{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
strong{
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
}

i{
  font-size: 20px;
}
nav{
  background-color: aquamarine;
  z-index: 10000;
  position: fixed;
  top:0;
  left:0;
}
nav ul li{
  padding-left: 20px;
  padding-top:10px;
}
nav ul li a{
  text-decoration: none;
}

