.bg {
  height: 100vh;
  background-image: #ffff;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h2{
  font-family: 'Squid Game';
}
.form-box{
  position: absolute;
  top:10%;
  left:35%;
}
.error-message {
  color: red;
  font-size: 12px;
}
