<h1>Wardrobe Details</h1>
<ng-container *ngIf="validate == true else other" >
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
        <button class="btn btn-info mr-2" (click)="showDialog()"> Add New Product</button>
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="products"
    [rows]="5"
    [paginator]="true"
    [globalFilterFields]="['productName', 'reviews', 'product.category.name']"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
>
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            <h5 class="m-0">Manage Products</h5>
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target['value'], 'contains')" placeholder="Search..." />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="productName">Name <p-sortIcon field="name"></p-sortIcon></th>
            <th>Image 1</th>
            <th>Image 2</th>
            <th pSortableColumn="basePrice">Price <p-sortIcon field="price"></p-sortIcon></th>
            <th pSortableColumn="product.category.name">Category <p-sortIcon field="category"></p-sortIcon></th>
            <th>Status</th>
            <th pSortableColumn="reviews">Reviews <p-sortIcon field="rating"></p-sortIcon></th>
            <th>Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{ product.productName }}</td>
            <td><img src="data:image/jpeg;base64, {{product.image1}}" [alt]="product.productName" width="50" class="shadow-4" /></td>
            <td><img src="data:image/jpeg;base64, {{product.image2}}" [alt]="product.productName" width="50" class="shadow-4" /></td>
            <td>{{ product.basePrice | currency: 'USD' }}</td>
            <td>{{ product.category.name }}</td>
            <td>
              <p-tag [value]="product.status" [severity]="getSeverity(product.status)"></p-tag>
          </td>
            <td><p-rating [ngModel]="product.reviews" [readonly]="true" [cancel]="false"></p-rating></td>
            <td>
                <button   class="btn btn-info mr-2" (click)="editProduct(product)"><i class="fas fa-pencil"></i></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">In total there are {{ products ? products.length : 0 }} products.</div>
    </ng-template>
</p-table>
<p-dialog [(visible)]="updateDialog"  header="Add New Product" [modal]="true" styleClass="dialog-style">
  <ng-template pTemplate="body">
   <app-add-product [view]="'UPDATE'" [productUpdate]="productUpdate" (productAdded)="hideDialog()"></app-add-product>
  </ng-template>
</p-dialog>
<p-dialog [(visible)]="displayDialog"  header="Add New Product" [modal]="true" styleClass="dialog-style">
  <ng-template pTemplate="body">
   <app-add-product [view]="'SIMPLE'" (productAdded)="hideDialog()"></app-add-product>
  </ng-template>
</p-dialog>

</ng-container>
<ng-template #other>
  <div class="row mt-4">
    <div *ngFor="let product of products.slice(0,currentSize)" class="col-sm-4 col-md-3">
      <div class="product-item">
        <div class="product-thumb">
          <a href="">
            <img
              src="data:image/jpeg;base64, {{ product.image1 }}"
              class="img-pri"
              alt="primary_pro_image"
            />
            <img
              src="data:image/jpeg;base64, {{ product.image2 }}"
              class="img-sec"
              alt="secondary_pro_image"
            />
          </a>
          <!-- <div class="product-label">
            <span>hot</span>
          </div> -->
          <div class="product-action-link">
            <a routerLink="/product-detail/{{product.productId}}" data-toggle="modal" data-target="#quick_view">
              <span
                data-toggle="tooltip"
                data-placement="left"
                title="Detail View"
                ><i class="fas fa-search"></i
              ></span>
            </a>
            <a
              data-toggle="tooltip"
              data-placement="left"
              (click)="addFavourite(product)"
              title="Wishlist"
              ><i class="fas fa-heart"></i
            ></a>
            <a
              href="#"
              data-toggle="tooltip"
              data-placement="left"
              title="Add to cart"
              ><i class="fas fa-shopping-cart"></i
            ></a>
          </div>
        </div>
        <div class="product-content">
          <marquee>
            {{ product.productName }}
          </marquee>
          <div class="pricebox">
            <span class="regular-price">Price : {{
              product.basePrice | currency : "USD"
            }}</span>
            <div class="ratings">
              <span class="good"><i class="fa fa-star"></i></span>
              <span class="good"><i class="fa fa-star"></i></span>
              <span class="good"><i class="fa fa-star"></i></span>
              <span class="good"><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
