<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 mt-4 p-6 text-center md:text-left ">
        <section>
            <span class="text-title">Welcome to Auction Panel</span>
            <div class="text-title-sec">your visitors deserve to see</div>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <button  type="button" class="mr-3 button-raised">Learn More</button>
            <button  type="button" class="button-outlined">Live Demo</button>
        </section>
    </div>
    <div class="col-md-6 overflow-hidden">
        <img src="assets/images/login_form.png" alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
</div>
</div>
