@font-face {
  font-family: "Squid Game";
  src: url("./assets/fonts/GameOfSquids-1GMVL.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.container-fluid {
  padding-left: 0 ;
  padding-right: 0 ;
}

html{
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  width:100%;
  font-family: Poppins, sans-serif;
  color: #666;
  background: #fff;
}


a{
  text-decoration: none;
}


.btn {
  display: inline-block;
  border: 2px solid #ccc;
  background-color: #fff;
  color: #666;
  outline: 0;
  border-radius: 0;
  font-family: inherit;
  font-weight: 600;
  padding: 0.93em 1.98em;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: color 0.3s, border-color 0.3s, background-color 0.3s, -webkit-box-shadow 0.3s;
  transition: color 0.3s, border-color 0.3s, background-color 0.3s, -webkit-box-shadow 0.3s;
  transition: color 0.3s, border-color 0.3s, background-color 0.3s, box-shadow 0.3s;
  transition: color 0.3s, border-color 0.3s, background-color 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
  white-space: nowrap;
  cursor: pointer;
}

.btn:hover,
.btn:active,
.btn:focus {
  color: #666;
  border-color: gainsboro;
  background-color: gainsboro;
}

.btn i {
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
  margin-bottom: 0.2rem;
}

.btn i::before {
  margin: 0;
}

.btn.btn-icon-right i {
  margin-right: 0;
  margin-left: 0.6rem;
}

.btn-outline {
  background-color: transparent;
  border: 2px solid;
}

.btn-link {
  padding: 0;
  border: 0;
  background: transparent;
}

@media (-ms-high-contrast: active),
(-ms-high-contrast: none) {
  .btn-link {
      overflow: visible;
  }
}

.btn-link:not(.btn-underline) {
  padding-bottom: 3px;
}

.btn-link:hover,
.btn-link:focus {
  background: transparent;
}

.btn-primary {
  color: #fff;
  border-color: #336699;
  background-color: #336699;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  color: #fff;
  border-color: #3c78b4;
  background-color: #3c78b4;
}

.btn-dark {
  color: #fff;
  border-color: #333;
  background-color: #333;
}

.btn-dark:hover,
.btn-dark:active,
.btn-dark:focus {
  color: #fff;
  border-color: #454545;
  background-color: #454545;
}

.btn-dark.btn-outline {
  color: #333;
  border-color: #333;
  background-color: transparent;
}

.btn-dark.btn-outline:hover,
.btn-dark.btn-outline:active,
.btn-dark.btn-outline:focus {
  background-color: #333;
  color: #fff;
}

.btn-dark.btn-link {
  background-color: transparent;
  color: #333;
  border-color: #333;
}

.btn-dark.btn-link:hover,
.btn-dark.btn-link:active,
.btn-dark.btn-link:focus {
  color: #333;
  background-color: transparent;
}

.btn-white {
  color: #fff;
  border-color: #fff;
  background-color: #fff;
  color: #333;
}

.btn-white:hover,
.btn-white:active,
.btn-white:focus {
  color: #fff;
  border-color: white;
  background-color: white;
}

.btn-white.btn-outline {
  color: #fff;
  border-color: #fff;
  background-color: transparent;
}

.btn-white.btn-outline:hover,
.btn-white.btn-outline:active,
.btn-white.btn-outline:focus {
  background-color: #fff;
  color: #fff;
}

.btn-white.btn-link {
  background-color: transparent;
  color: #fff;
  border-color: #fff;
}

.btn-white.btn-link:hover,
.btn-white.btn-link:active,
.btn-white.btn-link:focus {
  color: #fff;
  background-color: transparent;
}

.btn-white.btn-outline:hover,
.btn-white.btn-outline:active,
.btn-white.btn-outline:focus {
  color: #336699;
  border-color: #fff;
}

.btn-white:hover,
.btn-white:active,
.btn-white:focus {
  color: #fff;
  background-color: #333;
  border-color: #333;
}

.btn.btn-rounded {
  border-radius: 3px;
}

.btn.btn-sm {
  padding: 0.77em 1.4em;
}

.btn-slide-right:hover i,
.btn-slide-right:active i,
.btn-slide-right:focus i {
  -webkit-animation: 0.5s ease slideRight;
  animation: 0.5s ease slideRight;
}
