@font-face {
  font-family: "Squid Game";
  src: url("./assets/fonts/GameOfSquids-1GMVL.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body{
  background-color: #fff;
  overflow-x: hidden;
}
.no-padding{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
a{
  text-decoration: none;
}
