@font-face {
  font-family: "Squid Game";
  src: url("./assets/fonts/GameOfSquids-1GMVL.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.no-padding{
  padding-left: 0px;
  padding-right: 0px;
}
