<header id="header" class="header fixed-top d-flex align-items-center">

  <div class="d-flex align-items-center justify-content-between">
    <a href="" class="logo d-flex align-items-center">
      <span class="d-none d-lg-block">NiceAdmin</span>
    </a>
  </div>

  <div class="search-bar">
    <form class="search-form  d-flex align-items-center" >
      <input type="text" name="query" placeholder="Search" title="Enter search keyword">
      <button type="submit" title="Search"><i class="bi bi-search"></i></button>
    </form>
  </div>
  <nav class="header-nav d-sm-block d-md-none">
    <ul class="d-flex flex-row p-0">
    <li class="nav-item">
      <a class="nav-link" routerLink="/user-dashboard/my/profile/{{userId}}">
        <i class="fas fa-user"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/user-dashboard/wardrobe">
        <i class="fa-regular fa-address-card"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/user-dashboard/favourite">
        <i class="fas fa-heart"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  routerLink="/user-dashboard/search"
      >
      <i class="fa-solid fa-magnifying-glass"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/user-dashboard/cart"
      >
      <i class="fas fa-cart-shopping"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="logOut()">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
      </a>
    </li>
    </ul>
  </nav>

</header>
